h3.weather-description {
  font-size: 1.32rem;
}

h5.weather-location {
  font-size: 1.15rem;
}

.weather-image {
  display: block;
  margin: -0.1rem auto 0.1rem;
}

ul.weather-list {
  margin-top: 1.5rem;
}

div.switch-systems {
  max-width: 5.3rem;
  margin-top: 1.4rem;
}
